@model DoneTool.Models.ViewModels.PageModel

<link rel="stylesheet" href="~/css/taskLayout.css">

<div class="header-section">
    <div class="header-content">
        <h1 class="task-title">@Model.TaskTitle</h1>
        <p class="developer-name">@Model.DeveloperName</p>
    </div>
</div>

<div class="task-checklist">
    <table class="table">
        <thead>
            <tr class="header-row">
                <th>Steps</th>
                <th>Status</th>
                <th>Guard</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Checks)
            {
                <tr data-taskchecklist-id="@task.ID" data-last-updated="@task.LastUpdated.ToString("o")">
                    <td>@task.Step</td>
                    <td>
                        <div class="custom-dropdown">
                            <div class="status-button-wrapper">
                                <button class="status-button @("status-" + task.SelectedStatus.ToLower())" onclick="toggleStatus(this)">
                                    @task.SelectedStatus
                                </button>
                                <button class="arrow-button status-@task.SelectedStatus.ToLower()" onclick="toggleDropdownMenu(this)">
                                    <span class="dropdown-arrow">▼</span>
                                </button>
                            </div>
                            <ul class="dropdown-menu">
                                <li class="status-todo" data-value="TODO">TODO</li>
                                <li class="status-skipped" data-value="SKIPPED">SKIPPED</li>
                            </ul>
                            <input type="hidden" name="status" class="form-control status-dropdown" value="@task.SelectedStatus">
                        </div>
                    </td>
                    <td>
                        <div class="select-wrapper">
                            <input type="text" class="form-control guard-search" placeholder="Search Guards" oninput="filterGuards(this)">
                            <select class="form-control guard-dropdown" size="5" onchange="updateGuardInput(this)">
                                <option disabled>Suggested</option>
                                @if (!string.IsNullOrEmpty(Model.TamName))
                                {
                                    <option value="@Model.TamName">@Model.TamName</option>
                                }
                                @if (!string.IsNullOrEmpty(Model.CreatorName))
                                {
                                    <option value="@Model.CreatorName">@Model.CreatorName</option>
                                }
                                @if (!string.IsNullOrEmpty(Model.ProductOwnerName))
                                {
                                    <option value="@Model.ProductOwnerName">@Model.ProductOwnerName</option>
                                }
                                @foreach (var codeOwnerName in Model.CodeOwnerNames)
                                {
                                    <option value="@codeOwnerName">@codeOwnerName</option>
                                }
                                <option disabled>Other</option>
                                @foreach (var guard in Model.Guards)
                                {
                                    <option value="@guard">@guard</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td>
                        <textarea asp-for="@task.Comment" class="form-control" placeholder="Enter your comment">@task.Comment</textarea>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="commentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Provide a reason for skipping</h2>
        <textarea id="skipComment" class="form-control" placeholder="Enter your comment (min 10 characters)"></textarea>
        <button id="submitSkip" onclick="submitSkip()">Submit</button>
    </div>
</div>

<div id="customReloadModal" class="custom-reload-modal">
    <div class="custom-reload-modal-content">
        <p>The data has been updated by someone else. Please reload the page and try again.</p>
        <button id="customReloadButton">Reload Page</button>
    </div>
</div>

<script src="~/js/taskManager.js"></script>

<script>
function filterGuards(input) {
    const filter = input.value.toLowerCase();
    const select = input.nextElementSibling;
    const options = select.querySelectorAll("option");

    let selectedOption = select.querySelector('option[selected]');

    if (filter === '' && selectedOption) {
        selectedOption.removeAttribute('selected');
        select.value = '';
    }

    options.forEach(option => {
        if (option.textContent.toLowerCase().includes(filter)) {
            option.style.display = "";
        } else if (option.disabled) {
            option.style.display = "";
        } else {
            option.style.display = "none";
        }
    });
}

function updateGuardInput(selectElement) {
    const selectedGuard = selectElement.value;
    const inputElement = selectElement.previousElementSibling;

    inputElement.value = selectedGuard;
    selectElement.querySelectorAll('option').forEach(option => {
        if (option.value === selectedGuard) {
            option.setAttribute('selected', 'selected');
        } else {
            option.removeAttribute('selected');
        }
    });
}

</script>
